body {
  background-color: #6699ff;
  margin: 0px;
}

.heading {
  background-color: #006699;
  height: 11%;
}

.game {
  height: 60%;
  margin-top: 5%;
}

h1 {
  margin: 0%;
  margin-bottom: 2%;
  padding-top: 1%;
  text-align: center;
  color: white;
  font-family: arial;
  font-style: italic;
  font-weight: bolder;
  font-size: 400%;
  text-shadow: 8px 8px black;
}

.level {
  float: left;
  background-color: #ffd24d;
  height: 400%;
  width: 17%;
  font-family: arial;
  border: 8px solid black;
  margin-left: 1%;
  padding: 3%;
  font-size: 170%;
}

.reset {
  padding-left: 25%;
  height: 150%;
}

.new_game {
  height: 100%;
  width: 70%;
  background-color: white;
  color: black;
  border: 2px solid #47D147;
  font-size: 80%;
}

.new_game:hover {
  background-color: #47D147;
  color: white;
}


.board {
  float: right;
  height: 550%;
  width: 68%;
}

.gameBoard {
  float: left;
}

.showResult {
  float: right;
  height: 400%;
  width: 40%;
  background-color: #ffd24d;
  font-family: arial;
  border: 8px solid black;
  margin-right: 1%;
  padding-top: 5%;
  font-size: 200%;
}

h5 {
  text-align: center;
}

input {
  height: 10%;
  width: 20%;
  margin: 0px;
  font-size: 20%;
  margin-top: 15%;
  margin-bottom: 10%;
}

h3 {
  text-align: center;
  font-family: arial;
  margin: 7%;
}

#difficulty{
  margin: 6%;
  height: 280px;
  padding-left: 10%;
}

table {
  margin: 10%;
  border-spacing: 5px;
}

.button {
  height: 140px;
  width: 140px;
  background-color: white;
  color: black;
  border: 2px solid #47D147;
  font-size: 460%;
}

.result{
  clear: both;
  float: none;
  padding-bottom: 20%;
}

#gameResult{
  font-size: 450%;
  font-family: cursive;
  text-align: center;
  color: #6600cc;
  position: relative;
  right: 3%
}

.invalid {
  background-image: url(warning.gif);
  height: 50px;
  width: 50px;
  padding-right: 10px;
  display : inline-block;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.win{
  background-image: url(cup.gif);
  height: 59px;
  width: 62px;
  padding-right: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 70px 64px;
}

.button:hover {
  background-color: #47D147;
  color: white;
}
